body {
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    line-height: 1.5;
    padding-left: 100px;
    background-color: #000000;
    color: #eee;
}

a {
    color: #000000;
    text-decoration: none;
}

section {
    padding-bottom: 90px;
}

p {
    margin: 0;
    max-width: 357px;
}

h1 {
    margin: 150px 0;
}

.product-link {
    background-color: #eee;
    padding: 14px 0 14px 27px;
}

/* Footer */

footer {
    padding: 34px 0 34px 47px;
    background-color: #1a1a1a;
}

footer a {
    color: #6a6a6a;
}

.social-links {
    margin-top: 27px;
}

.social-links a {
    margin-right: 22px;
}